
.page-content-wrapper{
    padding: 20px;
}

.fieldset-table {
    padding: 20px;
}

.personal-information-section{
    margin-left: 10%;
}
  
.table-label{
    padding-right: 15px;
}
td.spaced {
    display: block;
    margin-left: 20px;
}

table{
    border-collapse: collapse;
}

td {
    padding-bottom: .5em;
}